@import '../../assets/styles/mixins.scss';

.container {
  width: 100%;
}

.card {
  padding: rem(24) 0 rem(80);

  @include tablets {
    padding: rem(28) 0 rem(100);
  }

  @include medium {
    width: 100%;
    display: grid;
    grid-template-columns: 66% 34%;
    gap: rem(40) rem(16);
    padding: rem(40) 0 rem(100);
  }

  @include large {
    grid-template-columns: 55% 45%;
  }
}

.title {
  font-size: rem(24);
  font-weight: 700;

  @include tablets {
    font-size: rem(32);
  }

  @include medium {
    grid-column: 1/-1;
  }
}

.info {
  @include medium {
    grid-column: 2/3;
  }
}

.price {
  font-size: rem(20);
  margin-bottom: rem(12);
}

.article {
  font-size: rem(12);
  display: inline-block;
  border-radius: rem(32);
  background-color: var(--snow);
  margin-bottom: rem(24);
  padding: rem(4) rem(8);
}

.characteristicsTitle {
  font-size: rem(16);
  font-weight: 400;
  margin-bottom: rem(14);
}

.table {
  width: 100%;
  font-size: rem(12);
  border-collapse: collapse;
  margin-bottom: rem(24);
}

.row {
  border-bottom: 1px solid var(--snow);
}

.key {
  text-align: left;
  padding: rem(8) 0;
  color: var(--gray);
}

.value {
  padding: rem(8) 0;
  text-align: right;
  color: var(--black);
}

.btns {
  display: flex;
  align-items: center;
  gap: rem(12);

  @include medium {
    grid-column: 2/3;
  }
}

.btn {
  flex-grow: 1;
  color: var(--snow);
  border: 1px solid transparent;
  background-color: #780096;
  border-radius: rem(32);
  padding: rem(12) rem(24);

  &:hover {
    background-color: #9200b7;
  }

  &:focus-visible {
    border-color: #c0f;
  }
}
